.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/dee-ali.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;
  width: 100%;
  @media only screen and (max-width: 600px) {
    height: 300px;
  }

  .header {
    text-align: center;
    font-style: normal;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 15px;

    @media only screen and (max-width: 600px) {
      font-size: 38px;
    }
  }

  > p {
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
